<div class="container mt-5">
    <div class="card">
      <div class="card-header text-center">
        <h1>Bienvenido a nuestra plataforma</h1>
      </div>
      <div class="card-body">
        <!-- Imagen de bienvenida -->
        <div class="text-center">
          <img src="assets/images/bienvenida.webp" class="img-fluid" alt="Bienvenido a la plataforma" width="400">
        </div>
        <p class="lead mt-4">
          Bienvenido a la plataforma web donde podrás dar de alta computadoras para que en un futuro puedas consultar lo que has guardado. En esta plataforma podrás guardar características de las computadoras como:
        </p>
        <ul>
          <li>Dimensiones de pantalla</li>
          <li>Capacidad de disco duro y memoria</li>
          <li>Sistema operativo</li>
          <li>Entre otras características importantes</li>
        </ul>
  
        <!-- Video explicativo -->
        <div class="text-center mt-4">
          <video width="600" controls>
            <source src="assets/videos/tutorial.mp4" type="video/mp4">
            Tu navegador no soporta la reproducción de videos.
          </video>
        </div>
  
        <button class="btn btn-primary" (click)="onComenzar()">Comenzar</button>
      </div>
    </div>
  </div>